<div class="index">

    <div class="masthead d-flex">

        <div class="container text-center my-center">

            <h1 class="mb-1">Laudato Si</h1>
            <h3 class="mb-5">
                <em>Puedes dejar tu comentario</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/articles/add">
                Comentar
            </a>

        </div>
        {{!-- <div class="overlay"></div> --}}
    </div>
</div>